.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}


body p{
    font-size:16px;
}

main{
    background: #020024;
    background-image: url('../images/bg-songlyrics.jpg');
    background-size:cover;
    min-height:100vh;
    background-attachment: fixed;
}

.lyrics_container{
    background-color: rgba(0, 0, 0, 0.5);
    padding:3rem 3rem 4rem;
    border-radius:1rem;
    /* Apply the blur filter to the backdrop */
    backdrop-filter: blur(10px); /* Adjust the pixel value for more or less blur */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border:0.5px solid #9858C7;
    margin:3rem 0;
}

.lyrics_container p{
    color:#fff;
    white-space: pre-line;
}

.lyrics_container h1,
.lyrics_container h2{
    margin-bottom:2rem;
    text-align: center;
    color:#fff;
}

.lyrics_form input,
.lyrics_form label{
    display:block;
}

.lyrics_form input{
    width:100%;
    padding:1rem;
    border:none;
    border-radius:8px;
    margin-bottom:1.5rem;
}

.lyrics_form label{
    color:#fff;
    font-size:1rem;
    margin-bottom:0.5rem;
}

.lyrics_form button{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 65%);
    color:#fff;
    border:none;
    border-radius:1rem;
    padding:1rem 0;
    font-size: 1.2rem;
    margin:2rem auto 0;
    display: block;
    width:260px;
    transition: transform 0.5s ease;
    margin-top:2.5rem;
    font-weight: 500;
}

.lyrics_form button:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.lyrics_title{
    font-size: 3rem;
    text-align: center;
    margin-bottom:0;
    text-transform: capitalize;
}

.lyrics_artist{
    text-align: center;
    font-weight: 500;
    margin-bottom:0;
    text-transform: capitalize;
}
